@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

a {
  display: inline-block;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.wrapper {
  background-color: #0d0d11;
  color: #fff;
}

.__container {
  max-width: 82.25rem;
  margin: 0rem auto;
  padding-inline: 0.5rem;
}

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #0d0d11;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  align-items: center;
  min-height: 7.25rem;
}

.header__logo {
  justify-self: start;
}

.logo {
  width: 9.2099rem;
  height: 2.4999rem;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0.375rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
}

.menu__item {
  flex-shrink: 0;
}

.link__zero {
  display: inline-block;
  padding: 0.1375rem 0.625rem;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.3);
  margin-left: 0.3rem;
}

.button {
  padding: 1rem 1.8313rem;
  background-color: #3d96f4;
  border-radius: 3.125rem;
}

.hover__item:hover {
  border-top: 0.0625rem solid #fff;
}

.content__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main__container {
  padding-top: 10rem;
}

.title--shared {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.84rem;
}

.text--shared {
  color: #9c9c9c;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6875rem;
}

.button {
  border-radius: 3.125rem;
}
.button span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.125rem;
}

.button:hover {
  background-color: #437cba;
  box-shadow: 0rem 0rem 0.75rem #479ffd;
}

.button--blue {
  padding: 1rem 1.5236rem 1rem 1.5361rem;
  background-color: #3d96f4;
  margin-right: 2rem;
}

.button--gray {
  padding: 1rem 1.9455rem 1rem 1.9571rem;
  background-color: rgba(129, 129, 139, 0.2);
}

.button--gray:hover {
  background-color: rgba(157, 157, 157, 0.8980392157);
  box-shadow: 0rem 0rem 0.75rem #cccbcb;
}

.blok__one {
  margin-bottom: 12.0625rem;
}

.__one--title {
  margin-bottom: 1.75rem;
  max-width: 31.625rem;
}

.__one--text {
  margin-bottom: 2.0625rem;
  max-width: 30.6875rem;
}

.blok__one--photo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0rem;
  grid-template-rows: repeat(3, auto);
  justify-items: start;
  justify-content: center;
  row-gap: 2rem;
  -moz-column-gap: 3.6875rem;
       column-gap: 3.6875rem;
}

.box__photo--one {
  max-width: 15.1191rem;
  max-height: 26.4599rem;
  border-radius: 23.625rem;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/3;
}

.box__photo--two {
  max-width: 15.1191rem;
  max-height: 15.1191rem;
  border-radius: 15.1191rem 0rem 15.1191rem 15.1191rem;
  overflow: hidden;
}

.box__photo--three {
  grid-column: 1/2;
  grid-row: 3/4;
  max-width: 15.1191rem;
  max-height: 15.1191rem;
  border-radius: 15.1191rem 15.1191rem 0rem 15.1191rem;
  overflow: hidden;
}

.box__photo--four {
  grid-column: 2/3;
  grid-row: 2/4;
  max-width: 15.1191rem;
  max-height: 26.4599rem;
  border-radius: 23.625rem;
  overflow: hidden;
}

.blok__two {
  margin-bottom: 9.0781rem;
}

.blok__two--title {
  text-align: center;
  margin-bottom: 1.4375rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.blok__two--photo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.875rem;
  height: 4rem;
}

.box__photo--luminous {
  background: linear-gradient(90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%), url(../img/blok2/Luminous.png) 100% 100%/cover no-repeat;
}

.box__photo--sitemark {
  background: url(../img/blok2/Sitemark.png) 100% 100%/cover no-repeat;
}

.box__photo--pronature {
  background: url(../img/blok2/Pronaturepng.png) 100% 100%/cover no-repeat;
}

.box__photo--greenish {
  background: url(../img/blok2/Greenish.png) 100% 100%/cover no-repeat;
}

.box__photo--weveless {
  background: linear-gradient(270deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%), url(../img/blok2/Waveless.png) 100% 100%/cover no-repeat;
}

.blok__three {
  margin-bottom: 12rem;
}

.button--services {
  font-size: 0.675rem;
  font-weight: 300;
  line-height: 1.08rem;
  color: #9c9c9c;
  padding: 0.6875rem 1.175rem 0.6875rem 1.1875rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  margin-bottom: 1.1875rem;
}

.button--services:hover {
  background-color: rgba(129, 129, 139, 0.1);
  box-shadow: 0rem 0rem 0.75rem #cccbcb;
}

.three--title {
  margin-bottom: 0.75rem;
}

.text--shared {
  margin-bottom: 2.0625rem;
}

.three--text {
  max-width: 30.6875rem;
}

.button--three {
  padding: 1rem 1.7824rem 1rem 1.7949rem;
}

.blok__three--card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.9375rem;
  padding: 3.4375rem 1.5625rem;
  border-radius: 1.875rem;
  background: rgba(129, 129, 139, 0.1019607843);
}

.card__img {
  max-width: 4.7246rem;
  max-height: 4.7246rem;
  border-radius: 0rem;
  overflow: hidden;
}
.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.68rem;
  margin-bottom: 0.625rem;
}

.card__paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #81818b;
}

.card__container--two {
  padding-bottom: 3rem;
}

.card__container--one {
  padding-top: 3rem;
}

.card__container--one,
.card__container--two {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.blok__four {
  margin-bottom: 12rem;
  gap: 4rem;
}

.four--title {
  margin-bottom: 2.5rem;
}

.four--text {
  max-width: 30.6875rem;
  margin-bottom: 2.4375rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.list__item {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #9c9c9c;
  position: relative;
  padding-left: 2.4375rem;
}

.list__item::before {
  content: "";
  background: rgba(129, 129, 139, 0.1019607843) url(../img/blok4/check-solid\ 1.png) 50% 50%/50% no-repeat;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  margin-left: -2.625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blok__four--photo {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  gap: 0rem;
}

.bloc__photo--box--one {
  height: 49.0996rem;
  border-radius: 44.625rem 0rem 23.625rem 23.625rem;
  overflow: hidden;
}
.bloc__photo--box--one img {
  -o-object-fit: cover;
     object-fit: cover;
}

.bloc__photo--box--two {
  align-self: end;
  border-radius: 11.3399rem 11.3399rem 11.3399rem 0rem;
  height: 11.3399rem;
  overflow: hidden;
  background: url(../img/blok4/orange-w.jfif) 50% 100%/cover no-repeat;
}

.blok__five {
  display: grid;
  grid-template-columns: 0.5689fr 0.3793fr;
  gap: 2rem;
  margin-bottom: 6rem;
}

.blok__five--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.blok__five--card {
  padding: 2.5rem;
}

.blok__five--photo {
  max-width: 31.1992rem;
  max-height: 100%;
  border-radius: 0rem 28.625rem 23.625rem 23.625rem;
  overflow: hidden;
  background: url(../img/blok5/orange-m.jfif) 50% 50%/cover no-repeat;
}

.blok___six--eight {
  display: grid;
  grid-template-columns: 0.6403fr 0.3fr;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.blok___six--eight--content a {
  margin-bottom: 1.5rem;
}
.blok___six--eight--content h3 {
  margin-bottom: 0.75rem !important;
}

.blok__six--eight--button {
  align-self: end;
  justify-self: end;
}

.__six--eight--button {
  margin: 0;
}

.eight--button {
  padding: 1rem 2.6057rem 1rem 2.6182rem;
}

.blok__seven--nine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 12rem;
}

.blok__seven--card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding: 4rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.0625rem;
}

.customer--info {
  display: grid;
  grid-template-columns: 0.25fr 0.58fr;
  gap: 1rem;
}

.customer--img {
  max-width: 4.2519rem;
  max-height: 4.2519rem;
  border-radius: 0rem 4.2519rem 4.2519rem 4.2519rem;
  overflow: hidden;
}
.customer--img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.customer--img--blue {
  border-radius: 4.2519rem 0rem 4.2519rem 4.2519rem;
}

.customer--img--green {
  border-radius: 4.2519rem 4.2519rem 0rem 4.2519rem;
}

.customer--name {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.4375rem;
}
.customer--name .name {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.customer--name .company {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: #9c9c9c;
}

.title--card {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.message--card {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #9c9c9c;
}

.stars {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.3125rem;
  justify-content: left;
}

.blok__nine--card {
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: rgba(129, 129, 139, 0.1);
}

.photo__nine--card {
  position: relative;
  max-width: 100%;
  max-height: 12.125rem;
  border-radius: 0rem;
  overflow: hidden;
  margin-bottom: 1.625rem;
}
.photo__nine--card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.content__nine--card {
  padding: 1.625rem;
}

.text__nine--card {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #9c9c9c;
}

.taitle__nine--card {
  margin-bottom: 1.875rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.link__nine--card {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 0.7125rem;
  color: #3d96f4;
}

.position {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.position p {
  padding: 0.5625rem 0.6125rem 0.5625rem 0.625rem;
  border-radius: 0rem 0.625rem 0rem 0rem;
  background: rgba(129, 129, 139, 0.5);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.blok__ten {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  justify-content: space-around;
  padding: 52px 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  margin-bottom: 6rem;
}

.blok__ten--content {
  max-width: 373.313px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.title__blok--ten,
.text__blok--ten {
  text-align: center;
}

.blok__ten--button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-self: center;
}

.footer__blok--one {
  padding-block: 10rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.footer__box--social {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__logo {
  background: url(../img/logo-growfy.png) 100% 100%/cover no-repeat;
}

.footer--text {
  max-width: 21.6668rem;
}

.social__link--box {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  justify-content: left;
}

.social__link {
  padding: 16px;
  border-radius: 2.25rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.8980392157);
  width: 2.25rem;
  height: 2.25rem;
}

.in {
  background: url(../img/blok8/in.png) 50% 50%/1.25rem no-repeat;
}

.twit {
  background: url(../img/blok8/tw.png) 50% 50%/1.25rem no-repeat;
}

.facebook {
  background: url(../img/blok8/f.png) 50% 50%/1.25rem no-repeat;
}

.youtube {
  background: url(../img/blok8/y.png) 50% 50%/1.25rem no-repeat;
}

.instagram {
  background: url(../img/blok8/inst.png) 50% 50%/1.25rem no-repeat;
}

.footer__box--list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.875rem;
}

.footer__title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5244rem;
}
.list li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: #9c9c9c;
}

.footer__box--subscribe {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.875rem;
  align-content: start;
}

.footer--text,
.footer--button--blue {
  margin: 0;
}

.blok__button--footer {
  display: grid;
  grid-template-columns: 0.5963fr 0.3617fr;
  gap: 1rem;
}

.footer--button {
  width: 100%;
  padding: 0.9063rem 1rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.3019607843);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: rgb(153, 153, 153);
  text-align: center;
}

.footer--button:hover,
.social__link:hover {
  background-color: rgba(129, 129, 139, 0.1);
  box-shadow: 0rem 0rem 0.75rem #cccbcb;
}

.footer--button--blue {
  width: 100%;
  padding: 0.9063rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.125rem;
  text-align: center;
  vertical-align: middle;
}

.button__name {
  display: inline-block;
  text-align: center;
}

.footer__blok--two {
  padding-block: 2.8438rem;
  text-align: center;
  border-top: 0.125rem solid rgba(129, 129, 139, 0.2);
}
.footer__blok--two p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: #9c9c9c;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 17, 0.8745098039);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 2;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
  padding: 7.25rem 1.25rem;
}

.popup__content {
  position: relative;
  background-color: rgba(129, 129, 139, 0.8980392157);
  color: #0d0d11;
  max-width: 90%;
  padding: 1.875rem;
  border-radius: 1rem;
}

.popup__close {
  position: absolute;
  right: 1rem;
  top: 0.625rem;
  font-size: 1.25rem;
  color: #fff;
}

.popup__title {
  color: #3d96f4;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 0rem 0rem 0.3125rem rgba(13, 13, 17, 0.8745098039);
}

form p,
form .input-element {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
form p label,
form .input-element label {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4rem;
  width: 5rem;
}

.form--button {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  margin: 0;
}
.form--button button {
  padding-inline: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  border: none;
}

.reset {
  background-color: rgba(129, 129, 139, 0.8980392157);
}

.reset:hover {
  background-color: rgba(157, 157, 157, 0.8980392157);
  box-shadow: 0rem 0rem 0.75rem #cccbcb;
}

.submit {
  background-color: #3d96f4;
  justify-self: center;
}

.submit:hover {
  background-color: #437cba;
  box-shadow: 0rem 0rem 0.75rem #479ffd;
}

.form--button--popup2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
  justify-content: center;
  margin: 0;
}
.form--button--popup2 button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  border: none;
}

.pop__up--title {
  font-size: 2.25rem;
  text-shadow: 0rem 0rem 0.25rem #fff;
}

.popup__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 12.5rem;
  max-height: 12.5rem;
  border-radius: 1.875rem;
  overflow: hidden;
}
.popup__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__icon {
  display: none;
}

.menu__arrow {
  display: none;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

.blok--photo--adapt {
  display: none;
}

@media (max-width: 62rem) {
  .header__container {
    display: grid;
    grid-template-columns: 0.4fr 1.4fr;
    gap: 1rem;
  }
  .main__container {
    padding-top: 8rem;
  }
  .title--shared {
    font-size: 2.125rem;
    line-height: normal;
  }
  .blok__one,
  .blok__two,
  .blok__three,
  .blok__four,
  .blok__five {
    margin-bottom: 5rem;
  }
  .blok__one--photo {
    gap: 0.5rem;
  }
  .content__box {
    grid-template-columns: repeat(2, auto);
  }
  .media__box {
    grid-template-columns: repeat(1, auto);
  }
  .blok__three--text {
    padding-left: 1.5rem;
  }
  .blok__four {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .bloc__photo--box--one {
    height: 35.0996rem;
  }
  .blok__five--content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card {
    align-items: start;
  }
  .card--text {
    margin-bottom: 0;
  }
  .blok__five--card {
    padding: 1.75rem;
  }
  .blok__five {
    grid-template-columns: 1fr 1fr;
  }
  .blok___six--eight {
    padding: 1rem;
  }
  .blok__seven--nine {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .blok__seven--card {
    padding: 2rem;
    gap: 1rem;
  }
  .card__wide {
    grid-column: 1/-1;
  }
  .card__wide--rotate {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .card__wide--rotate .photo__nine--card {
    max-height: 100%;
    margin-bottom: 0;
  }
  .text__nine--card,
  .taitle__nine--card {
    margin-bottom: 0.75rem;
  }
  .content__nine--card {
    padding: 0.875rem;
  }
  .button--blue {
    margin: 0;
  }
  .blok__ten {
    margin: 0;
    padding: 1.25rem;
  }
  .footer__box--list > div {
    position: relative;
  }
  .footer__box--list > div {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: start;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .footer__box--list {
    position: relative;
  }
  .menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 9.375rem;
    max-height: 5rem;
    overflow-y: scroll;
    background-color: #0d0d11;
    padding: 0.875rem;
    border-radius: 0.5rem;
    display: none;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    box-shadow: inset 0rem 0rem 0.5rem rgba(129, 129, 139, 0.8980392157);
  }
  .pages__sub--list {
    min-width: 6.375rem;
  }
  body._touch .footer__box--list > div._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    display: block;
  }
  .list {
    gap: 0.5rem;
  }
  .hover__item {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .footer__blok--one {
    padding-block: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    align-items: center;
    grid-template-areas: "a d d" "a d d" "a b c" "a . .";
    padding-inline: 1rem;
  }
  .footer__box--social {
    grid-area: a;
  }
  .footer__box--list {
    justify-self: center;
    grid-area: b;
  }
  .footer__box--list-2 {
    grid-area: c;
  }
  .footer__box--subscribe {
    grid-area: d;
  }
  .footer__title {
    justify-self: start;
    font-size: 1.5rem;
  }
  .footer--text {
    max-height: 6.25rem;
    overflow: scroll;
  }
  .menu__list {
    font-size: 0.75rem;
  }
  .link__zero {
    display: none;
  }
}
@media (max-width: 47.9375rem) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgba(129, 129, 139, 0.8980392157);
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #0d0d11;
    padding: 5rem 1.875rem 1.875rem 1.875rem;
    transition: right 0.5s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: 0;
    left: 0;
    background-color: #0d0d11;
    z-index: 5;
  }
  .menu__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .menu__list .button {
    justify-self: start;
  }
  .menu__list .hover__item {
    padding-left: 1.5rem;
  }
  .header--menu {
    justify-self: end;
    padding: 1.875rem;
    align-self: start;
  }
  .header__logo {
    position: relative;
    z-index: 5;
  }
  .header__container {
    min-height: 4.375rem;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0rem, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0rem, 50%);
  }
  .popup__body {
    padding: 6.25rem 1.25rem;
  }
  .link__zero {
    display: inline-block;
  }
  .content__box {
    grid-template-columns: repeat(1, auto);
    grid-auto-flow: dense;
  }
  .title--shared {
    text-align: center;
  }
  .text--shared {
    text-align: center;
    justify-self: center;
  }
  .blok__one--text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
    grid-row: 2/4;
  }
  .blok__one--photo {
    display: none;
  }
  .box__photo--one {
    grid-column: 3/4;
    grid-row: 1/-1;
  }
  .box__photo--three {
    grid-column: 4/-1;
    grid-row: 1/-1;
  }
  .box__photo--four {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
  .blok__three--text,
  .blok__four--text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }
  .button--services {
    justify-self: start;
  }
  .button--three {
    justify-self: right;
  }
  .blok__four--photo {
    grid-template-columns: 0.5fr 0.5fr;
    gap: 1rem;
  }
  .bloc__photo--box--one {
    height: 28rem;
  }
  .bloc__photo--box--two {
    height: 22rem;
  }
  .list {
    justify-self: center;
  }
  .blok__five {
    grid-template-columns: 1fr;
  }
  .blok__five--photo {
    display: none;
  }
  .blok--photo--adapt {
    display: block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .blok__five--adapt {
    height: 8.375rem;
    background: url(../img/blok1/man--orange--blok1.jfif) 50% 0%/cover no-repeat;
    border-radius: 241.906px 241.906px 0px 241.906px;
    overflow: hidden;
  }
  .blok__five--adapt-2 {
    background: url(../img/blok1/woman--green--blok1.jfif) 50% 0%/cover no-repeat;
    border-radius: 0px 241.906px 241.906px 241.906px;
  }
  .blok__five--adapt-3 {
    background: url(../img/blok1/man-blue--blok1.jfif) 50% 0%/cover no-repeat;
    border-radius: 241.906px 241.906px 241.906px 0px;
  }
  .blok__five--adapt-4 {
    background: url(../img/blok1/man--yelow--blok1.jfif) 50% 0%/cover no-repeat;
    border-radius: 241.906px 0px 241.906px 241.906px;
  }
  .blok___six--eight {
    grid-template-columns: 1fr;
  }
  .blok__seven--nine {
    grid-template-columns: 1fr;
  }
  .card__wide--rotate {
    display: block;
  }
  .card__wide--rotate .photo__nine--card {
    max-height: 12.125rem;
  }
  .blok__ten {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer__blok--one {
    grid-template-areas: "a a a" "d d d" "c c c" "b b b";
  }
  .footer__logo,
  .social__link--box,
  .footer__title,
  .blok__button--footer {
    justify-self: center;
    text-align: center;
  }
  .blok__button--footer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 66.75rem) {
  .blok__two--photo {
    gap: 0;
    justify-content: space-between;
  }
  .blok__two--photo div {
    background-size: contain;
  }
}
@media (max-width: 36rem) {
  .main__container {
    padding-top: 6rem;
  }
  .content__box {
    margin-bottom: 3rem;
  }
  .text--shared,
  .taitle__nine--card {
    font-size: 1.75rem;
    margin-bottom: 0rem;
    line-height: 1.2;
  }
  .title--shared {
    font-size: 2.5rem;
    margin-bottom: 0rem;
  }
  .card__title,
  .name {
    font-size: 1.5rem !important;
  }
  .button span {
    font-size: 1.25rem;
  }
  .card__paragraph {
    font-size: 1.5rem;
  }
  .button--services,
  .message--card,
  .text__nine--card {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .blok__two--title,
  .button,
  .position p,
  .list li {
    font-size: 1.25rem;
  }
  .company {
    font-size: 1rem !important;
  }
  .blok__button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .blok__two--title {
    margin-bottom: 0rem;
  }
  .blok__two--photo {
    grid-template-columns: repeat(2, 1fr);
    height: 9rem;
  }
  .blok__two--photo > div {
    background-size: cover;
  }
  .box__photo--luminous {
    background: url(../img/blok2/Luminous.png) 100% 100%/cover no-repeat;
  }
  .box__photo--weveless {
    background: url(../img/blok2/Waveless.png) 50% 100%/contain no-repeat !important;
    grid-column: 1/-1;
  }
  .blok__one,
  .blok__two,
  .blok__three,
  .blok__four,
  .blok__five {
    margin-bottom: 3rem;
  }
  .button--services,
  .button--three {
    justify-self: center;
  }
  .blok__three--card {
    grid-template-columns: 1fr;
  }
  .blok__three--text,
  .blok__four--text {
    gap: 1rem;
    padding: 0rem;
  }
  .card {
    padding: 1.5rem;
  }
  .bloc__photo--box--one {
    height: 15rem;
  }
  .bloc__photo--box--two {
    height: 12rem;
  }
  .card__container--two {
    padding-bottom: 0rem;
  }
  .blok___six--eight--content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .blok__six--eight--button {
    align-self: center;
    justify-self: center;
  }
  form .input-element {
    grid-template-columns: 1fr !important;
  }
}
.blok__error {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  justify-items: center;
}

.error {
  color: #ff6d35;
  font-size: 4.6875rem;
  justify-content: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */