$background-body: #0d0d11;
$color-3D96F4: #3d96f4;
$color-white: #fff;
$color-9c: #9c9c9c;
$color-129: rgba(129, 129, 139, 0.1);
$color-129-20: rgba(129, 129, 139, 0.2);
$color-81: #81818b;
$color-81-10: #81818b1a;
$position: rgba(129, 129, 139, 0.5);
$border: #81818be5;
$border--footer-button: #81818b4d;
$footer-button: rgba(153, 153, 153, 1);
$background-pop-up: #0d0d11df;
$reset-hover: #9d9d9de5;
$blue-hover: #437cba;
$shadow-w: #cccbcb;
$shadow-d: #479ffd;
$color-3d6F4: #3d96f4;
$color5c: #5cc97b;
$colorff6: #ff6d35;
