@mixin font($size, $weight, $line-height) {
   font-size: $size;
   font-weight: $weight;
   line-height: $line-height;
}
@mixin img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

@mixin photo($width, $height, $radius, $overflow) {
   max-width: $width;
   max-height: $height;
   border-radius: $radius;
   overflow: $overflow;
}

@mixin grid($grid, $num-columns, $column-size, $gap) {
   display: $grid;
   grid-template-columns: repeat($num-columns, $column-size);
   gap: $gap;
}
@mixin grid-no-repeat($column1, $column2, $gap) {
   display: grid;
   grid-template-columns: $column1 $column2;
   gap: $gap;
}
